/**
 * @class Ext.Toolbar
 */

.x-toolbar {
    min-height: 55px;
}

.x-toolbar,
.x-tabbar {
    border-width: 0 !important;
    @include box-shadow(0 1px 0 0 #C4C4C4);

    &.x-docked-bottom {
        @include box-shadow(0 0 15px 0 rgba(#000, .5));
    }

    &.x-docked-top {
        @include box-shadow(0 0 15px 0 rgba(#000, .5));
    }
}

.x-toolbar-plain,
.x-tabbar-plain {
    background-color: #FFFFFF;
}

.x-toolbar-light,
.x-tabbar-light {
    @include background(linear-gradient(186deg, color-stops(#047ebf, #026399)));
}

.x-toolbar-neutral,
.x-tabbar-neutral {
    @include background(linear-gradient(color-stops(#F1F0F0, #D6D6D6)));
}

.x-toolbar-dark,
.x-tabbar-dark {
    @include background(linear-gradient(color-stops(#323232, #252525)));
}

.x-toolbar-neutral,
.x-tabbar-neutral,
.x-toolbar-plain,
.x-tabbar-plain {
    .x-button-icon:before {
        color: #000;
    }

    .x-button-pressing,
    .x-button-pressed {
        .x-button-icon:before {
            color: #fff;
        }        
    }
}

.x-toolbar.x-docked-bottom {
    .x-button-normal,
    .x-button-normal:before {
        border: 0 !important;
        background: transparent none !important;
        @include box-shadow(none);
    }

    .x-button-normal:before {
        height: 2px !important;
    }

    .x-button.menu {
        margin: 0;
        border-right-style: solid;
        border-right-width: 1px;
    }
}

.x-title {
    color: #fafafa;
    font-size: 18px;
    font-weight: normal;
}

.x-toolbar {
    .x-input-el {
        @include border-radius(2px);
        border: 2px solid $base-color;
    }
}