<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        version="2.0.0.0" id="blackberry10bootcamp">

  <author href="http://www.example.com/" rim:copyright="Copyright 1998-2011 My Corp">Gaurav K</author>

  <name>Meeting Notes</name> 

  <description>
    Meeting Notes BlackBerry Demo
  </description>

  <icon src="resources/icons/brainstorm.png"/>
  <rim:splash src="resources/images/notes.png" />
  
  <access uri="*" subdomains="true" />
<feature id="blackberry.media.camera" />

<rim:permissions>
    <rim:permit>use_camera</rim:permit>
</rim:permissions>

  <content src="index.html" rim:allowInvokeParams="true"/>

</widget>